
/* table 5 ar css now start */
.sabbir{
	background:#CCFC67;
  margin: auto;
  width: 80%;
  border: 1px solid #CCFC67;
  padding: 10px;
  text-align: center;
  
}
.ab h2 {
	color:red;
}
.sa h2{
	color:red;
}
.abc h2{
	color:red;
}
.as input{
	padding:2%;
	background:#16A9FF;
}